/*header*/
.header{
    display: flex;
    flex-direction: row;
    height: 20vh;
    
}

#bouttonAdmin{
    order: 2;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-size: 14pt;
    color: #413C69;
    width: 26vw;
   
}
#bouttonVisiteur{
    order: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    color: #413C69;
    border: none;
    margin-left: 8vw;
    
    
}
#titre{
    order: 3;
    font-size: 14pt;
    color: #413C69;
    
}
#boutonBars{
    font-family: 'Bebas Neue', cursive;
    font-size: 50pt;
    color: #413C69;
    border: none;
    background-color: white;
    
    
}
.indicateur{
    order: 4;
    vertical-align:middle;
    


}
/*fin header*/
/*cartes*/
.background{
    background-color: rgba(65, 60, 105, 0.11);
    
    z-index: 0;
}
.card-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
    color: #413C69;
    z-index: 10;
}
.btn{
    font-family: 'montserrat', sans-serif;
    font-size: 14 pt;
    font-weight: 700;
    background-color: #4A47A3;
    border-color: #1C7CD5;
    border-width: 1pt;
    z-index: 20;
    margin-left: 85vw;
}

.card-text{
    font-family: 'Montserrat', sans-serif;
    width: 16pt;
    color: #413C69;
    z-index: 30;
}
.btn:hover{
    background-color: #1C7CD5;
    border-color: #1C7CD5;
}
/* Footer */
.footer a {
    text-decoration: none;
    color: white;
}
.footer ul {
    list-style: none;
    font-size: 20px;
    line-height: 1.6em;
}
.footer{
    display: flex;
    font-family: "montserrat";
    background-color: #AD62AA;
    

}
.grostitre{
    text-transform: uppercase;
    font-family: Bebas Neue;
    font-size: 40px;
    padding-top: 5vh;
    width: 15vw;
    
}
.menugauche{
 width: 35vw;
 margin-left: 8vw;
 padding-top: 3vh;
 text-align: left;
}

.menudroite {
    width: 30vw;
    text-align: right;
    padding-top: 3vh;
    margin-right: 8vw;
}

/* dernier article */
.dernierarticle{
    margin-left: 15vw;
    width: 70vw;
}

.dernierarticle h2 {
    font-family: "montserrat";
    color: #413C69;
}
hr{
    height: 3px;
    background-color: #413C69;
    border: none;
  }

/* tous les articles */

    .touslesarticles{
        margin-left: 15vw;
        width: 70vw;
    }
    
    .touslesarticles h2 {
        
        font-family: "montserrat";
        color: #413C69;
    }
    hr{
        height: 3px;
        background-color: #413C69;
        border: none;
      }