/*header*/
.header{
    display: flex;
    flex-direction: row;   
}

#bouttonAdmin{
    order: 2;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    border: none;
    width: 15vw;
}
#bouttonVisiteur{
    order: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    color: #413C69;
    background-color: #ffffff;
    border: none;
    width: 15vw;
    
}
#titre{
    order: 3;
    font-size: 14pt;
    color: #413C69;
    
}
#boutonBars{
    font-family: 'Bebas Neue', cursive;
    font-size: 50pt;
    color: #413C69;
    background-color: #ffffff;
    border: none;
    width: 30vw;
    text-align: left;
}
.indicateur{
    order: 4;
    width: 15vw;


}
/*fin header*/
/* Footer */
.footer a {
    text-decoration: none;
    color: white;
}
.footer ul {
    list-style: none;
    font-size: 20px;
    line-height: 1.6em;
}
.footer{
    display: flex;
    font-family: 'montserrat';
    background-color: #AD62AA;
    height: 18vh;

}
.grostitre{
    text-transform: uppercase;
    font-family: Bebas Neue;
    font-size: 40px;
    padding-top: 5vh;
    width: 15vw;
}
.menugauche{
 width: 35vw;
 margin-left: 8vw;
 padding-top: 3vh;
 text-align: left;
 

}

.menudroite {
    width: 30vw;
    text-align: right;
    padding-top: 3vh;
    margin-right: 8vw;
    
    

}
